<%- include ('partials/head.ejs') %>
<p class="logo"><%= title %></p>

<%- include ('partials/nav.ejs') %>
<% if (messages.success_msg) { %>
    <% console.log('succcccessssssssssssss') %>
<% } %>
<div class="panel">
<h2>Hello <%= user %>!</h2>

    <a href="/users/logout">Logout</a>
</div>
<%- include ('partials/footer.ejs') %>